/* NAV */
.nav {
  display: none;
  
  @include responsive(tablet) {
    display: block;
    justify-items: right;
    width: 100%;
    margin-right: 25px;

    &__list {
      display: flex;
      gap: $spacing-sm;
      list-style: none;
    }

    /* Ahora solo define comportamiento, no estilos visuales */
    &__link {
      text-decoration: none;
      color: white;
    }
  }
}
